<main>
    <section>
        <div class="coluna3-alb"> <!-- albuns --> 
            <h2>Albuns e Avaliações</h2>
            <ul>
                <li>Casamentos</li>
                <li>Shows</li>
                <li>Aniversarios</li>
            </ul>
        </div>
        <div class="img"> 
            <ul>
                <li><a href=""><img src="~/img/camento1.jpg" alt="fotos casamentos"></a></li>
                <li><a href=""><img src="~/img/niver1.jpg" alt="foto aniversarios"></a></li>
                <li><a href=""><img src="~/img/show1.jpg" alt="fotos shows"></a></li>
            </ul>
        </div>
        <h2>Casamentos</h2>
        <div class="casamento">
            <ul>
                <li> <img src="~/img/casamento1.jpg" alt="foto casamento"> </li>
                <li><img src="~/img/casamento2.jpg" alt="foto casamento"></li>
                <li><img src="~/img/casamento3.jpg" alt="foto casamento"></li>
            </ul>
        </div>
        <strong><p>Katia Flavia</p></strong>
        <p>Foi ÓTIMOOOOOOOOO</p>

    </div>
    <h2>Aniversarios</h2>
    <div class="aniversarios">
        <ul>
            <li><img src="~/img/niver1.jpg" alt="foto aniversario"></li>
            <li><img src="~/img/niver2.jpg" alt="foto aniversario"></li>
            <li><img src="~/img/niver3.jpg" alt="foto aniversario"></li>
        </ul>
    </div>
    <strong><p>Katia Flavia</p></strong>
    <p>Foi ÓTIMOOOOOOOOO</p>

    <h2>Showls</h2>
    <div class="show">
        <ul>
            <li><img src="~/img/show1.jpg" alt="foto show"></li>
            <li><img src="~/img/show2.jpg" alt="foto show"></li>
            <li><img src="~/img/show3.jpg" alt="foto show"></li>
        </ul>
    </div>
    <strong><p>Katia Flavia</p></strong>
    <p>Foi ÓTIMOOOOOOOOO</p>
    </section>
</main>