* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
a{
    text-decoration: none;
    color: #7d0093;
}

body { 
    font-family: 'Calibri', 'Open Sans', sans-serif;
    background-color: #7d0093;
    color: #ffc600;
}

/********************************************************
---------------------------NAV---------------------------
********************************************************/
.barramenu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 2em;
    list-style-type: none;
    background-color:#ffc600;
    color: #7d0093;
    flex-wrap: wrap;   
    font-weight: bold;
}

.logologin ul hr {
    color: #7d0093;
}

.logologin ul li a{
    display: block;
    padding: 10px;
    background:#ffc600 ;
    color: #7d0093;

}

.logologin {
    display: flex;
    justify-content: space-around;
    text-align: center; 
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 3em;
}

.logologin img {
    width: 30%;
}

@media (max-width: 1000px) {

    .barramenu ul{
        font-size: 3em; 
    }
    .logologin{
        font-size: 4em;
    }
    }



    html {
        height: 100%;
    }
    
    body {
        
        height: 100%;
    }
    
    main {
        align-self: center;
    
    }
    
    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    form * {
        margin: 5px 0;
    }
    form input, form select {
        width: 40%;
        height: 30px;
        border: none;
        text-align: center;
        padding: 0 2px;
        font-size:1em;
        color: #7d0093;
    }  
    form label {
        color: #ffc600;
        font-weight: bold;
        font-size:2em;
    }
    footer{
        font-size:2em;
        text-align: center;
        background-color:#ffc600;
        color: #7d0093;
        
    }
    main{
        text-align:center;
    }  
    
    main h2{
        font-size:3em;
    }
    
    @media screen and (max-width: 1000px){
    
     form input, form select {
        width: 60%;
        height: 50px;
        border: none;
        text-align: center;
        padding: 0 2px;
        font-size:2em;
    } 
     h2{
         font-size:3em;
     }
     footer{
         font-size:2em;
     }    
    }

    .selecionaveis {
        display: flex;
        flex-direction: column;
    }
